$background: #FBF8F1; 
$background--dark: #33304E; 
$fontColor: #33304E;
$fontColor--dark: #FBF8F1;
$lightBlue: #54BAB9;
$background-toggle: #FBF8F1;
$lightBlue-shadow: #54bab85c;
$gradient: linear-gradient(to bottom right, #83FF8E,  35%, #00A9DB);
$gradient-darkmode: linear-gradient(to bottom right, #2D2D2D, 40% ,#5D676F , 90% ,#A9CEC2);
$outline: #267dce;