$backgroundColor: linear-gradient(to right top, #64e27c, #72e56a, #82e855, #94ea3c, #a8eb12);;

$fontVars: (
    "color": #3C4048,
    "font": 'Open Sans',
    "size": 1.6rem
);

$tasksVars: (
    "background": #DDDDDD,
    "specialFontcolor": #eee,
    "listItemColor": #ECECEC,
);

$labelVars:(
    "default":  #379237,
    "purple": #b647f2,
    "orange": #ca5f35,
    "blue": #2e67e3,
    "red": #A03C78,
);