@use 'colors';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
    touch-action: manipulation;
  }
  a, a:visited, a:link {
    color: colors.$black;
    text-decoration: none;
  }
  
  body {
    font-family: sans-serif;
    font-size: 2rem;
    background: colors.$white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: 60rem;
    z-index: -200;
  }